.about {
    padding-top: 70px;
}

.about-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 94px;
    padding-bottom: 100px;
    border-bottom: 1px solid var(--color-dark);
}

.about-img {
    max-width: 350px;
    width: 100%;
    border-radius: 30px;
    justify-content: left;

}

.about-content {
    max-width: 636px;
    width: 100%;
}

.about-title {
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
}

.about-text {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 15px 0 20px;
}

.about-social-title {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;

}

.about-subtitle,
.about-email,
.about-textmail {
    display: block;
    font-size: 18px;
    line-height: normal;
    font-weight: 400;
}

.about-email {
    font-weight: 600;
}

.about-signature {
    margin: 26px 0 24px;
    width: 160px;
}

.about-tools {
    display: flex;
    gap: 30px;
}

.about-tools figure {
    width: 59px;
    height: 57px;
}

.line {
    border-bottom: 3px solid #2F2F2F;
    width: 1110px
}

.about-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.first-p {
    display: block;
    margin-top: 50px;
    width: 1110px;
    height: 225px;
    color: var(--color-primary);
    font-size: 18px;
    font-weight: 400;
    line-height: 45px;

}


.about-picture {
    width: 1110px;
    height: 411.483px;
    flex-shrink: 0;
    border-radius: 25px;
    background: lightgray 50% / cover no-repeat;
    margin-top: 43px;
    margin-bottom: 49.52px;
}

.second-p {
    display: block;
    width: 1110px;
    color: var(--color-primary);
    font-size: 18px;
    font-weight: 400;
    line-height: 45px;

}

.article-video {
    margin-top: 50px;
    width: 1110px;
    height: 619.231px;
    flex-shrink: 0;
    border-radius: 25px;
    background: lightgray 50% / cover no-repeat;
}