.about {
    padding-top: 70px;
}

.about-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 94px;
    padding-bottom: 100px;
    border-bottom: 3px solid var(--color-dark);
}

.about-img {
    max-width: 350px;
    width: 100%;
    border-radius: 30px;
    justify-content: left;

}

.about-content {
    max-width: 636px;
    width: 100%;
}

.about-title {
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
}

.about-text {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 15px 0 20px;
}

.about-social-title {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;

}

.about-subtitle,
.about-email,
.about-textmail {
    display: block;
    font-size: 18px;
    line-height: normal;
    font-weight: 400;
}

.about-email {
    font-weight: 600;
}

.about-signature {
    margin: 26px 0 24px;
    width: 160px;
}

.about-tools {
    display: flex;
    gap: 30px;
}

.about-tools figure {
    width: 59px;
    height: 57px;
}


.about-article {
    padding: 50px 0 100px;
    border-bottom: 3px solid var(--color-dark);
}


.about-picture {
    border-radius: 25px;
    background: lightgray 50% / cover no-repeat;
    margin-top: 43px;
    margin-bottom: 50px;
}

.about-article p {
    font-size: 18px;
    font-weight: 400;
    line-height: 45px;

}

.article-video {
    margin-top: 50px;
    width: 1110px;
    height: 619.231px;
    flex-shrink: 0;
    border-radius: 25px;
    background: lightgray 50% / cover no-repeat;
}

.about-article p+p {
    margin-top: 43px;
}

.video {
    position: relative;
    border-radius: 25px;
    width: 98%;
    height: 617px;
    margin: 50px auto 0;
}

#video {
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

.video::before {
    content:"";
    background: url(../img/video-bg.jpg) no-repeat center;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    border-radius: 25px;
    transition: var(--transition);

}

.video.active::before {
    opacity: 0;
    z-index: -1;
}

.video-title {
    position: absolute;
    color: var(--color-white);
    font-size: 36px;
    line-height: 62px;
    top: 22px;
    left: 42px;
    z-index: 2;
    opacity: 1;
}

.video-btn {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    width: 113px;
    height: 106px;
    background: url(../img/play.png) no-repeat center;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: var(--transition);
}

.video-btn.active {
    z-index: -1;
    opacity: 0;
}