.benefits {
    padding: 50px 0;
}

.benefits-title {
    margin-bottom: 50px;
    text-align: center;
}

.benefits-block {
    width: 240px;
    margin: 0 auto;
}

.slider-title {
    margin: 27px 0 7px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    display: block;
}

.benefits-block img {
    border-radius: 45px;
}

.slider-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.benefits-slider .slick-dots {
    gap: 15px;
    margin-top: 30px;
}

.benefits-slider .slick-dots li.slick-active {
    background: var(--color-yellow);
}

