.contact {
    background: #486074;
    padding: 54px 0 49px 0;

}

.contact .container {
    display: flex;
    justify-content: center;
    gap: 125px;
}

.contact-map {
    max-width: 445px;
    width: 100%;
    height: 567px;
}

.contact-form {
    max-width: 445px;
    width: 100%;
}

.contact-map iframe {
    border-radius: 30px;
}
