.cta {
    padding: 42px 0 94px;
}

.cta-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 140px;
    background: var(--bg-yellow);
    border-radius: 25px;
    padding: 63px 0 60px;
    margin-bottom: 100px;


}

.cta-title {
    width: 265px;

}

.cta-block {
    display: flex;
    gap: 50px;
}

.cta-email {
    display: flex;
    gap: 16px;
    width: 212px;
    padding: 18px 0 18px 68px;
    height: 70px;
    border-radius: 10px;
    background: var(--color-white) url(../img/mailblack.svg) no-repeat left 25px center;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 600;
    color: var(--color-dark);
    line-height: normal;



}

.cta-link {
    display: block;
    width: 273px;
    height: 70px;
    padding: 17px 0 16px;
    border-radius: 10px;
    border: 2px solid var(--color-white);
    color: var(--color-white);
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-align: center;


}

.logos {
    max-width: 1014px;
    width: 100%;
    margin: 0 auto;
}

.project-cta .cta-wrapper {
    padding: 50px 75px;
    gap: 50px;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.project-cta .cta-title {
    width: 100%;
    max-width: 457px;
}

.project-cta .cta-email {
    width: 259px;
    padding: 19px 0 19px 92px;
    background-position: left 49px center;

}