.header {
    height: 88px;
}

.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 33px 0;
}

.header-logo {
    font-size: 22px;
    font-weight: 700;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;
}

.link {
    font-weight: 500;
    transition: .2s;
}

.link:hover {
    color: var(--link-hover);

}
