.hero-wrapper {
    display: flex;
}

.hero-subtitle {
    display: block;
    font-weight: 500;
    line-height: 36px;
    font-size: 24px;
    color: var(--color-grey);

}

.hero-content {
    max-width: 475px;
    width: 100%;
    padding-top: 77px;
}


.hero-title {
    font-weight: 600;
    line-height: 62px;
    font-size: 48px;
    position: relative;
}

.hero-title::after {
    content: "";
    display: block;
    width: 324px;
    height: 19px;
    background: url(../img/line.svg) no-repeat center;
    position: absolute;
    bottom: -19px;
    right: 52px;
}

.hero-title span {
    display: inline-block;
    width: 320px;
    color: var(--link-hover);
}

.hero-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 56px 0 32px 0;

}

.hero-social {
    display: flex;
    align-items: center;
    gap: 30px;
}

.social-title {
    color: var(--color-grey);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.social-icon {
    width: 32px;
    height: 32px;
}

.hero-link {
    display: flex;
    gap: 30px;
    margin-top: 44px;
}

.mailme {
    display: block;
    width: 151px;
    padding: 16px 0 15px 60px;
    font-weight: 700;
    background: var(--bg-yellow) url(../img/mail.svg) no-repeat left 28px center;
    text-transform: capitalize;
    border-radius: 10px;
}

a {
    border: 1px solid ;
}

