@media(max-width:) {}

@media(max-width:1150px) {
    .container {
        padding: 0 10px;
    }
}

@media(max-width:) {}

@media(max-width:980px) {
    .second-contentlist {
        flex-wrap: wrap;
        justify-content: center;
    }

    .cta-title {
        width: 100%;
        text-align: center;
    }

    .cta-wrapper {
        gap: 35px;
    }
}

@media(max-width:768px) {
    .tab {
        gap: 30px;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media(max-width:590px) {
    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background: var(--bg-dark);
        height: 100vh;
        top: 0;
        left: 100%;
        right: 0;
        padding: 30px 16px;
        z-index: 2;
        overflow-x: hidden;
        transition: .4s ease-in-out;
    }

    .nav.active {
        left: 0;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .burger {
        display: flex;
        width: 60px;
        height: 40px;
        background: url(../img/burger.svg) no-repeat center;
        position: relative;
        z-index: 5;
        transition: .3s ease-in-out;

    }

    .burger.active {
        background: url(../img/close.svg) no-repeat center;
    }

    .footer-wrapper {
        flex-direction: column;
        gap: 15px;
    }

    .footer {
        padding: 25px 0;
    }

    .hero-img::before {
        display: none;
    }

    .hero-img {
        justify-content: center;
        align-items: center;
    }

    .hero-subtitle {
        text-align: center;
    }

    .second-wrapper {
        padding: 60px 15px;
    }

    .third-top {
        flex-wrap: wrap;
        justify-content: center;
    }

    .cta-block {
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;

    }

    .cta-email {
        width: 290px;
    }

    .cta-link {
        width: 290px;
    }
}

@media(max-width:450px) {

    .hero-title::after {
        right: 50%;
        transform: translateX(50%);

    }

    .hero-title {
        text-align: center;
    }

    .inner-title {
        font-size: 38px;
    }

}

@media(max-width:390px) {

    .hero-link {
        justify-content: center;
        flex-wrap: wrap;
    }

    .mailme {
        width: 100%;
        text-align: center;
        padding: 16px;
    }

    .dowloadcv {
        width: 100%;
        text-align: center;
        padding: 16px;
    }

    .hero-title {
        font-size: 38px;
        line-height: normal;
    }

    .list {
        gap: 25px;
    }

    .tab-element {
        font-size: 28px;
    }

    .content-list {
        flex-wrap: wrap;
        gap: 15px;
    }
}