.second {
    padding: 133px 0 100px;
}

.second-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    background: var(--bg-grey);
    border-radius: 45px;
    padding: 63px 65px;
    

}

.second-img {
    max-width: 350px;
    width: 100%;
    border-radius: 30px;
}

.second-content {
    max-width: 570px;
    width: 100%;
}

.second-contentlist {
    display: flex;
    gap: 48px; 
}

.second-contentitem {
    width: 237px;
    display: flex;
    flex-direction: column;
}

.second-contentnumber {
    font-size: 72px;
    font-weight: 600;
    line-height: 62px;
}

.second-contentnumber i {
    color: #8ED2A9;
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px;
}

.second-contenttext {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.second-contentstars {
    font-size: 48px;
    font-weight: 600;
    line-height: 62px;
    background: url(../img/stars.svg) no-repeat left 78px center;
}

.second-title {
    display: block;
    margin: 70px 0 19px;
    font-size: 48px;
    font-weight: 600;
    line-height: 62px;
}

.second-text {
    font-size: 24px;
    font-weight: 400;
    line-height: 45px;
}