.third {
    padding: 133px 0 100px;
}

.third-wrapper {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;

}

.third-subtitlefirst {
    display: block;
    gap: 581px;
    font-size: 48px;
    font-weight: 600px;
    line-height: 62px;
    margin-bottom: 56px;
    background-color: blueviolet;
}

.third-contentbutton {
    display: flex;
    background-color: blue;
}

.third-content {
    display: flex;
    gap: 581px
}

.third-img {
    display: flex;
    gap: 30px;
    max-width: 100%;
}

.left-img {
    width: 540px;
    height: 756px;
    border-radius: 25px;
    gap: 30px;
}

.right-img {
    width: 540px;
    height: 756px;
    border-radius: 25px;
}

