.third {
    padding: 133px 0 100px;
}

.third-wrapper {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 30px;

}

.third-title {
    font-size: 48px;
    font-weight: 600px;
    line-height: 62px;
}


.third-top {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-bottom: 60px;
}

.third-link {
    display: block;
    width: 151px;
    height: 55px;
    color: var(--color-white);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    padding: 15px 0;
    border-radius: 10px;
    background: var(--bg-yellow);
    text-transform: capitalize;
}

.third-content {
    max-width: 540px;
    width: 100%;

}

.content-title {
    display: block;
    margin: 20px 0 10px;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
}

.content-list {
    display: flex;
    gap: 50px;

}

.content-list a {
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    padding-left: 31px;
}

.link-study {
    background: url(../img/case.svg) no-repeat left center;
}

.link-preview {
    background: url(../img/show.svg) no-repeat left center;
}